<div class="container" style="font-family: Microsoft JhengHei; margin-top: 100px;">
  <div class="row text-center mb-4">
    <div class="col-md-12">
      <h3>ProgEdu</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="login-img">

          </div>
          <div class="login-title">
            <h4>107-2 物件導向實習</h4>
          </div>
          <div class="login-form mt-4">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <input id="id" name="Full Name" placeholder="Student ID" class="form-control" type="text">
                </div>
                <div class="form-group col-md-12">
                  <input type="pass" class="form-control" id="pass" placeholder="Password">
                </div>
              </div>
              <div class="form-row">
                <button type="button" class="btn btn-danger btn-block">Sign In</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>